body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ef454579;
}

p{
    font-family: cursive;
}



.cambiar_fondo{
    left: 20px;
    height: 20px;
    bottom: 115px;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 70px;
    background: linear-gradient(0deg, #320784,  #ff1493);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40px; /* Ajusta el tamaño de tu logo según sea necesario */
    margin-right: 10px;
}

 .color1 {
    background-color: #ff0000;
 }
 
.color2 {
    background-color: #00ff00;
}

L{
    color: #a10ee6;
}


header {

    background: linear-gradient(0deg, rgba(150, 9, 9, 0), #040140);
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.hero {
    text-align: center;
    padding: 2em;
    background-size: cover;
    color: #FF0000;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 1em;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

img{
    width: 300px;

}

.comida {
    background-image: radial-gradient(#000cef 1.6px, #e5e5f700 1.6px);
    background: linear-gradient(0deg, #320784,  #ff1493);
    opacity: 0.8;
    max-width: 300px;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
}


.filtro-container {
    margin-bottom: 20px;
}

.img-container img {
    transition: opacity 1s ease-in-out;
}



.comida img {
    width: 100%;  /* o el ancho que prefieras */
    height: auto; /* mantiene la relación de aspecto */
    border-radius: 5px;
    transition: opacity 2s ease; /* Cambia la duración de la transición a 3 segundos */
}


.comida.visible {
    opacity: 1;
    transform: translateY(0);
}

.agregar{
    padding-left: 175px;
}

.button{
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    background-color: #c8b5cc;
    border: none;
    font-size: larger;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.carrito-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #190d80; /* Color de fondo rojo */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carrito-icon img {
    width: 100%;
    height: 100%;
}

.carrito-ventana {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.carrito-ventana.visible {
    display: block;
}


.comida:hover {
    transform: translateY(-10px);
}

button:hover{
    cursor: pointer;
    background-color: #a607b4;
}

.carrito-icon:hover{
    background: linear-gradient(0deg, #320784,  #ff1493);
}

.cambiar_fondo:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.carrito-ventana {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    z-index: 9999;
    display: none; /* La ventana emergente está oculta inicialmente */
}

.carrito-ventana.visible {
    display: block; /* Muestra la ventana emergente cuando tiene la clase "visible" */
}
